streamlit
streamlit-autorefresh
pyaudio
librosa==0.10.0
openai-whisper
whisper
pytube
yt-dlp
ffmpeg-python
langdetect
gtts
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu